/* Variaveis das Cores */
/* TEMA DARK */
:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;  /*cor principal Textos*/
    --primary-bg-color: #171511;  /*cor principal Fundo*/ 
    /* bg = background == cor do Fundo */


}
/* TEMA LIGHT */
:root[data-theme='light'] {
    --primary-color: #000; /* cor principal textos */
    --primary-bg-color: #f0f2f5;
}
body {
    background: var(--primary-bg-color); /*cor fundo*/
    color: var(--primary-color);  /*cor geral dos textos*/
}
